[run]
branch = True
source = src

[report]
omit =
    */__init__.py
    */config/*
    */contracts/*
    */mappers/*
    */composition/*
    */shared/exceptions/*
    */shared/enums/*
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING
    if __name__ == '__main__':
